<h1>Car Inventory</h1>
<ul>
  @foreach (string car in Model)
  {
    <li>@car</li>
  }
</ul>
<p><a href="/">Add another Car</a></p>
<!-- <form action="/tasks_cleared" method="post">
  <button type="submit" name="button">Clear all tasks</button>
</form> -->
