<h1>Car Inventory</h1>
<p>@Model.GetMake(), @Model.GetModel()
  <ul>
    <li><span>Mileage = </span>@Model.GetMileage()</li>
    <li><span>Price = $</span>@Model.GetPrice()</li>
  </ul>
</p>
<p><a href="/">Add another car</a></p>
